[user]
	name = Rodrigo García Suárez
	email = rodrigo.garcia.suarez@gmail.com

[core]
    editor = emacs -nw --no-init-file --no-site-file --load ~/.emacs.commits

[branch "stable"]
	mergeoptions = --no-ff

[branch "preproduction"]
	mergeoptions = --no-ff

[branch "master"]
	mergeoptions = --no-ff
