[user]
	name = Rodrigo García Suárez
	email = rodrigo.garcia.suarez@gmail.com

[core]
    editor = emacsclient

[branch "stable"]
	mergeoptions = --no-ff

[branch "preproduction"]
	mergeoptions = --no-ff

[branch "master"]
	mergeoptions = --no-ff
